* {
  font-family: Arial, Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffff;
  background-image: url('./img/1.svg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

main {
  display: flex;
  flex-direction: row;

  /* width: 80vw; */
  /* min-width: 320px; */
  max-width: 1200px;
  height: 80dvh;
  max-height: 900px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80dvh;
  img {
    max-width: 60%;
    min-width: 20%;
  }
}

section:nth-of-type(2) {
  margin-right: 3rem;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 70dvh;
  h1 {
    font-size: 5rem;
    color: white;
  }
  input {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    border: 0px solid #000000;
    display: inline-block;
    color: #ff5824;
    font-family: Arial, Verdana, Helvetica;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 8rem;
  }
  input:hover {
    background-color: #ff5824;
    color: white;
  }
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Alinea el contenido hacia abajo */
  height: 100%; /* Ocupa toda la altura disponible */
  text-align: end;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 800px) {
  main {
    width: 90%;
    flex-direction: column;
    height: 80dvh;
  }

  section:nth-of-type(2) {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .logo-section {
    height: 30dvh;
    margin: 1rem;
    img {
      width: 30%;
    }
  }
  .text-section {
    justify-content: start;
    height: 30dvh;
    h1 {
      font-size: 44px;
      text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    input {
      margin-bottom: 0;
    }
  }
  .info-text {
    /* height: 20dvh; */
    margin-top: -1rem;
  }
}

@media (max-width: 480px) {
  .logo-section {
    img {
      width: 50%;
    }
  }
}
