* {
  font-family: Arial, Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffff;
  background-image: url("./img/1.svg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* min-height: 100%; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

/* web page */

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100dvh;
}

.logo-section {
  display: flex;
  /* justify-content: end; */
  justify-content: center;
  align-items: center;
  height: 100dvh;
  img {
    max-width: 50%;
  }
}

section:nth-of-type(2) {
  margin-right: 3rem;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 90dvh;
  h1 {
    font-size: 6rem;
    color: white;
  }
  p {
    background-color: purple;
  }
}

.info-text {
  text-align: end;
  margin-top: -2rem;
}
