* {
  font-family: Arial, Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffff;
  background-image: url("./img/1.svg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  max-width: 1200px;
  height: 80dvh;
  max-height: 900px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80dvh;
  img {
    max-width: 60%;
  }
}

section:nth-of-type(2) {
  margin-right: 3rem;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 70dvh;
  h1 {
    font-size: 5rem;
    color: white;
  }
  input {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    border: 0px solid #000000;
    display: inline-block;
    color: #ff5824;
    font-family: Arial, Verdana, Helvetica;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 8rem;
  }
  input:hover {
    background-color: #ff5824;
    color: white;
  }
}

.info-text {
  height: 10dvh;
  text-align: end;
  margin-top: -1rem;
}
